.whiteScreen{
    background-color:white;
    width:400px;
    border-radius:5px;
    margin-top:16%;
    height:300px;
  }

.login-button{
    margin:0 140px;
    width:25%
}
.welcome-message{
    text-align: center
}